# Quizzes

In [4]:
class Employee:
    def __init__(self, payroll_n):
        self._payroll_number = payroll_n
        self._salary = None

    def update_payroll(self, payroll_n):
        self._payroll_number = payroll_n

    def update_salary(self, sal):
        self._salary = sal

    def get_salary(self):
        return self._salary

    def get_payroll(self):
        return self._payroll_number

    def str_info(self):
        return "Payroll number: " + str(self._payroll_number) + ", " \
            "Salary: " +  str(self._salary) +"." 

class AcademicEmployee(Employee):
    def __init__(self, payroll_n, dep):
        super().__init__(payroll_n)
        self._department = dep

    def update_department(self, dep):
        self._department = dep

    def get_department(self):
        return self._department

    def str_info(self):
         return "Payroll number: " + str(self._payroll_number) + ", " \
                   "Salary: " +  str(self._salary) + ","\
                  "Department: " + str(self._department)+"."

In [5]:
e2 = AcademicEmployee(5678)
e2.update_department("Computer Science")

TypeError: __init__() missing 1 required positional argument: 'dep'

In [6]:
def print_info(x): #this function takes an argument x of type Employee and prints information
    print(x.str_info())

e1 = Employee(1234)
e2 = AcademicEmployee(5678, "Computer Science")

e1.update_salary(30000)
e2.update_salary(40000)

print_info(e1)
print_info(e2)

Payroll number: 1234, Salary: 30000.
Payroll number: 5678, Salary: 40000,Department: Computer Science.

In [7]:
list_of_employees = []

new_emp = Employee(1234)
list_of_employees.append(new_emp)

new_emp = Employee(5678)
list_of_employees.append(new_emp)

list_of_employees[0].update_salary(40000)

In [8]:
e1 = Employee(1234)
e2 = AcademicEmployee(5678, "Computer Science")

e1.update_salary(30000)
e2.update_salary(40000)

In [9]:
e1 = Employee(1234)
e2 = AcademicEmployee(5678, "Computer Science")

e1.update_salary(30000)
e2.update_salary(40000)

e2.update_department("Medicine")

e1.str_info()
e2.str_info()

'Payroll number: 5678, Salary: 40000,Department: Medicine.'

In [10]:
e1 = Employee(1234)
e2 = AcademicEmployee(5678, "Computer Science")

e1.update_department("Medicine")
e2.update_department("Medicine")

AttributeError: 'Employee' object has no attribute 'update_department'

## Repl Exercises

## 01
The following class templates handle information about a person and individual and shared (joint) bank accounts. Complete the implementation of the classes using the pattern below (see lines marked with TD). Do not use inheritance to answer this question (this comes in Problem 2)

In [64]:
class Person:
    '''to handle person's details'''
    def __init__(self, fn, ln):
        self.first_name = fn
        self.last_name = ln
        self.address = None #addresses stored as strings
    def set_address(self, adr):
        self.address = adr #strings

class IndividualBankAccount:
    '''to handle individual bank account data'''
    def __init__(self, sort_code, account_number, owner):
        '''TD implement this; creates a bank account
        with sort code as string, account number as string,
        and owner as Person'''
        self.sort_code = str(sort_code)
        self.account_number = str(account_number)
        self.owner = owner
    def set_sort_code(self, sort_code):
        '''TD implement this; updates sort code'''
        self.sort_code = sort_code
    def get_sort_code(self):
        '''TD implement this; returns sort code'''
        return self.sort_code
    def set_account_number(self, account_number):
        '''TD implement this; updates account number'''
        self.account_number = account_number
    def get_account_number(self):
        '''TD implement this; returns account number'''
        return self.account_number
    def get_account_data(self):
        '''TD implement this; returns string "FN LN SC AN"
        where FN and LN are owner's first and last names,
        SC is sort code, AN is account number'''
        return " ".join([self.owner.first_name, self.owner.last_name, self.sort_code, self.account_number])

class SharedBankAccount:
    '''to handle data of an account that has several owners'''
    def __init__(self, sort_code, account_number, owners):
        '''TD implement this; creates a bank account
        with sort code as string, account number as string,
        and owners as a list of Persons'''
        self.sort_code = str(sort_code)
        self.account_number = str(account_number)
        self.owners = owners
        
    def set_sort_code(self, sort_code):
        '''TD implement this; updates sort code'''
        self.sort_code = sort_code
    def get_sort_code(self):
        '''TD implement this; returns sort code'''
        return self.sort_code
    def set_account_number(self, account_number):
        '''TD implement this; updates account number'''
        self.account_number = account_number
    def get_account_number(self):
        '''TD implement this; returns account number'''
        return self.account_number
    def get_account_data(self):
        '''TD implement this; returns string
        "FN1 LN1, FN2 LN2, ..., FNM LNM, SC AN"
        where FNi LNi is the i-th owner first and last names,
        SC is sort code, AN is account number'''
        result = ""
        for x in self.owners:
            result += x.first_name + " " + x.last_name + ", "
        return result[0:len(result)-1] + " " + self.sort_code + " " + self.account_number

In [65]:
john01 = Person("John", "Doe")
john01.set_address("Birkbeck, Malet st., WC1E 7HX")
john01s_account = IndividualBankAccount("12-34-56", "12345678", john01)
#Test1 checks john01s_account.get_account_data()=="John Doe 12-34-56 12345678"
print(john01s_account.get_account_data()=="John Doe 12-34-56 12345678")
john01s_account.set_sort_code("11-11-11")
#Test2 check john01s_account.get_sort_code()=="11-11-11"
print(john01s_account.get_sort_code()=="11-11-11")

mary01 = Person("Mary", "Ann")
mary01.set_address("UCL, Gower st., WC1E 6BT")
mary01s_account = IndividualBankAccount("65-43-21", "87654321", mary01)
#Test3 checks mary01s_account.get_account_data()=="Mary Ann 65-43-21 87654321"
print(mary01s_account.get_account_data()=="Mary Ann 65-43-21 87654321")
mary01s_account.set_account_number("99999999")
#Test4 checks mary01s_account.get_account_number()=="99999999"
print(mary01s_account.get_account_number()=="99999999")

acc02 = SharedBankAccount("11-22-33", "11223344", [john01, mary01])
#Test5 checks acc02.get_account_data()=="John Doe, Mary Ann, 11-22-33 11223344"
print(acc02.get_account_data()=="John Doe, Mary Ann, 11-22-33 11223344")
print(acc02.get_account_data())

True
True
True
True
True
John Doe, Mary Ann, 11-22-33 11223344

## 02
Assuming that you are starting with this problem after completing the Bank Account Classes problem (which is recommended), you must have noticed that the code in Bank Account Classes is highly redundant (contains large duplications). The purpose of this problem is to refactor that code using inheritance. Complete the implementation of the new classes using the pattern on the right (see lines marked with TD). See below the examples of use and test cases:

In [97]:
class Person:
    '''to handle person's details'''
    def __init__(self, fn, ln):
        self.first_name = fn
        self.last_name = ln
        self.address = None #addresses stored by strings
    def set_address(self, adr):
        self.address = adr #strings

class BankAccount:
    def __init__(self, sort_code, account_number):
        '''TD implement this; creates a bank account
        with sort code as string and account number as string'''
        self.set_sort_code(sort_code)
        self.set_account_number(account_number)
    def set_sort_code(self, sort_code):
        '''TD implement this; updates sort code'''
        self.sort_code = sort_code
    def get_sort_code(self):
        '''TD implement this; returns sort code'''
        return self.sort_code
    def set_account_number(self, account_number):
        '''TD implement this; updates account number'''
        self.account_number = account_number
    def get_account_number(self):
        '''TD implement this; returns account number'''
        return self.account_number
    def get_account_data(self):
        '''TD implement this; returns string "SC AN"
    where SC is sort code, AN is account number'''
        return " ".join([self.sort_code, self.sort_code])

class IndividualBankAccount(BankAccount):
    def __init__(self, sort_code, account_number, owner):
        super().__init__(sort_code, account_number)
        '''line above sets up sc and number
        TD implement setting up an owner as Person'''
        self.owner = owner
    def get_account_data(self):
        '''TD implement this; returns string "FN LN SC AN"
        where FN and LN are owner's first and last names,
        SC is sort code, AN is account number'''
        return " ".join([self.owner.first_name, self.owner.last_name, self.sort_code, self.account_number])

class SharedBankAccount(BankAccount):
    def __init__(self, sort_code, account_number, owners):
        super().__init__(sort_code, account_number)
        '''line above sets up sc and number
    TD implement setting up an owners as a list of Persons'''
        self.owners = owners
    def get_account_data(self):
        '''TD implement this; returns string
        "FN1 LN1, FN2 LN2, ..., FNM LNM, SC AN"
        where FNi LNi is the i-th owner first and last names,
        SC is sort code, AN is account number'''
        result = ""
        for x in self.owners:
            result += x.first_name + " " + x.last_name + ", "
        return result[0:len(result)-1] + " " + self.sort_code + " " + self.account_number

In [101]:
john01 = Person("John", "Doe")
john01.set_address("Birkbeck, Malet st., WC1E 7HX")
john01s_account = IndividualBankAccount("12-34-56", "12345678", john01)
#Test1 checks john01s_account.get_account_data()=="John Doe 12-34-56 12345678"
john01s_account.get_account_data()=="John Doe 12-34-56 12345678"

True

In [102]:
john01s_account.set_sort_code("11-11-11")
#Test2 check john01s_account.get_sort_code()=="11-11-11"
john01s_account.get_sort_code()=="11-11-11"

True

In [103]:
mary01 = Person("Mary", "Ann")
mary01.set_address("UCL, Gower st., WC1E 6BT")
mary01s_account = IndividualBankAccount("65-43-21", "87654321", mary01)
#Test3 checks mary01s_account.get_account_data()=="Mary Ann 65-43-21 87654321"
mary01s_account.get_account_data()=="Mary Ann 65-43-21 87654321"

True

In [104]:
mary01s_account.set_account_number("99999999")
#Test4 checks mary01s_account.get_account_number()=="99999999"
mary01s_account.get_account_number()=="99999999"

True

In [105]:
acc02 = SharedBankAccount("11-22-33", "11223344", [john01, mary01])
#Test5 checks acc02.get_account_data()=="John Doe, Mary Ann, 11-22-33 11223344"
acc02.get_account_data()=="John Doe, Mary Ann, 11-22-33 11223344"

True